fastapi==0.115.0
uvicorn[standard]==0.30.6
sqlalchemy==2.0.35
pymysql==1.1.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.12
pillow==10.4.0
langchain==0.3.0
langchain-openai==0.2.0
langchain-community==0.3.0
tavily-python==0.5.0
python-dotenv==1.0.1
alembic==1.13.3
cryptography==43.0.1
pydantic-settings==2.5.2
pymongo==4.10.1
kafka-python==2.0.2
